version: 2.1
orbs:
  welcome-orb: circleci/welcome-orb@0.3.1
defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:8.9.1

jobs:
  test:
    <<: *defaults  
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-{{ checksum "package-lock.json" }}
          - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Run tests
          command: node_modules/.bin/tsc && node dist/index.js
      - persist_to_workspace:
          root: ~/repo
          paths: .

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: tsc
          command: node_modules/.bin/tsc
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/.npmrc
      - run:
          name: Add author name
          command: echo "init.author.name=Akira Ogawa" >> ~/repo/.npmrc
      - run:
          name: Add author url
          command: echo "init.author.url=https://safire.blue" >> ~/repo/.npmrc
      - run:
          name: Publish package
          command: npm publish

workflows:
  test-deploy:
    jobs:
      - test:
          filters:
            tags:
              only: /v.*/
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/